* {
    box-sizing: border-size;
}

body {
  margin: 0;
  font-family: sans-serif;
  background: #f5f6f7;
}

.pricing-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 10px;
}

.pricing-card {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0 0 200px;
    border: 2px solid black;
    border-radius: 10px;
}

.basic-plan {
    order: 0;
}

.pro-plan {
    order: 1;
    flex-grow: 2;
}

.premium-plan {
    order: 2;
}